asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
django-leaflet==0.33.0
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
djangorestframework_simplejwt==5.5.1
GDAL==3.6.2
geographiclib==2.1
geopy==2.4.1
numpy==2.4.2
packaging==24.1
psycopg2==2.9.11
PyJWT==2.11.0
setuptools==80.10.2
sqlparse==0.5.5
tzdata==2025.3
wheel==0.46.3
gunicorn==21.2.0
dj-database-url
